langchain
openai
matplotlib
pandas
python-dotenv
playwright
beautifulsoup4
chromadb
PyPDF2
faiss-gpu
unstructured
pdf2image
pytesseract
tabulate
wolframalpha
ipykernel
kor
markdownify
selenium
tiktoken
wikipedia
redis
gptcache